---
import { Image } from 'astro:assets';
import { SITE } from 'astrowind:config';
import bannerLogo from '~/assets/images/perpterps_banner.png';
---

<Image src={bannerLogo} alt={SITE?.name ?? 'Perpetual Terpsters'} height={112} class="h-20 md:h-28 w-auto" />
<span class="sr-only">{SITE?.name}</span>
