---
import { Image } from 'astro:assets';
import { SITE } from 'astrowind:config';
import bannerLogo from '~/assets/images/perpterps_banner.png';
---

<Image
  src={bannerLogo}
  alt={SITE?.name ?? 'Perpetual Terpsters'}
  height={48}
  class="h-12 w-auto"
/>
<span class="sr-only">{SITE?.name}</span>
